{% load static %}
<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">{{project_name}}</li>
      <li>
        <a href="#">Nefelometria</a>
        <ul class="menu vertical">
          <li><a href="{% url 'nephelometric_app:uv' %}">Ultra Violeta</a></li>
          {% comment %} <li><a href="#">450nm</a></li>
          <li><a href="#">750nm</a></li>
          <li><a href="#">900nm</a></li> {% endcomment %}
        </ul>
      </li>
      <li><a href="{% url 'nephelometric_app:temperatura' %}">Temperatura</a></li>
      <li><a href="#">Orp</a></li>
      <li><a href="#">pH</a></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">      
      <input id="my-text-box" list="puertos"/>
    </ul>
  </div>
  
  
</div>

